<!-- views/partials/navbar.ejs -->
<nav>
    <ul>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/calendar">Calendar</a></li>
        <li><a href="/messages">Messages</a></li>
        <li><a href="/profile">Profile</a></li>
    </ul>
</nav>
